<% include ../includes/header.ejs %>
<div class="breadcrumbs"><a class="back" href="/"><i class="fas fa-caret-square-left"></i> Back</a></div>
<div class="content">
    
    <div id="wrapper">
        <div id="sidebtnwrap">
            <button onclick="sidebarToggle()" type="button" id="sidebarbtn" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Menu</span>
            </button>
        </div>
        <!-- Sidebar -->
        <div id="sidebar">

            <div class="sidebar-header">
                <h3>Menu</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/get-todos">Home</a>
                </li>
                <li>
                    <a href="/add">Add</a>
                </li>
                <li>
                    <a class="current" href="/del">Delete</a>
                </li>
                <li>
                    <a href="/update">Edit</a>
                </li>
            </ul>
            <h3>Filter</h3>
            <ul class="list-unstyled components">
                <li>
                    <h6>Date</h6>
                    <ul class="submenu">
                        <li>
                            <a <% if(sort === 'ASC'){ %> class="current" <% } else { %> class="" <% } %>" href="/date/old">Oldest</a>
                        </li>
                        <li>
                            <a <% if(sort === 'DESC'){ %> class="current" <% } else { %> class="" <% } %>" href="/date/new">Newest</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h6>Priority</h6>
                    <ul class="submenu">
                        <li>
                            <a <% if(sort === 'low'){ %> class="current" <% } else { %> class="" <% } %>" href="/priority/low">Low</a>
                        </li>
                        <li>
                            <a <% if(sort === 'medium'){ %> class="current" <% } else { %> class="" <% } %>" href="/priority/medium">Medium</a>
                        </li>
                        <li>
                            <a <% if(sort === 'high'){ %> class="current" <% } else { %> class="" <% } %>" href="/priority/high">High</a>
                        </li>
                    </ul>
                </li><li>
                    <h6>Status</h6>
                    <ul class="submenu">
                        <li>
                            <a <% if(sort === "1"){ %> class="current" <% } else { %> class="" <% } %> href="/status/completed">Completed</a>
                        </li>
                        <li>
                            <a <% if(sort === '0'){ %> class="current" <% } else { %> class="" <% } %> href="/status/incomplete">Pending</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    
    <div id="middle">
        <h1>Delete</h1>
        <div id="delwrap">
        <% if (typeof todos !== 'undefined' && todos.length > 0) {%>
            <% todos.forEach(function(todo, i) { %> 
                <div class="delrow">
                    <div class="delhead">
                        <div class="listcount"><%= ++i %></div>
                        <div class="listbtn"><a href="/del-submit/<%= todo.id %>" class="btn btn-primary">X</a></div>
                    </div>
                    
                    <ul id="dellist">
                        <li class="delcol litodo"><%= todo.todo %> </li>
                        <li class="delcol licat"><%= todo.category %></li>
                        <li class="delcol lipri"><%= todo.priority %></li>
                        <li class="delcol linotes"><%= todo.notes %></li>
                        <li class="delcol licreated"><%= moment(todo.created).format('MM/DD/YYYY');%></li>
                    </ul>
                </div>
        <% })} %>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>