<% include ../includes/header.ejs %>
<% include functions.ejs %>

<div id="top">
    <div id="count">Total <%= count %></div>
</div>

<div class="content">
    
    
    <div id="wrapper">
        <button onclick="sidebarToggle()" type="button" id="sidebarbtn" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Menu</span>
        </button>
        <!-- Sidebar -->
        <div id="sidebar">

            <div class="sidebar-header">
                <h3>Menu</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a class="current" href="#">Home</a>
                </li>
                <li>
                    <a href="/add">Add</a>
                </li>
                <li>
                    <a href="/del">Delete</a>
                </li>
                <li>
                    <a href="/update">Edit</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="middle">
        <div class="feedback">
            <% if (message.length) { %>
            <div class="flash"><%= message %></div>
            <% } %>
        </div>
        <section class="cards">
            <% todos.forEach(function(todo, i) { %>    
                <article class="card">
                <picture class="thumbnail">
                        <img id="catimg<%= i %>" class="category__01"  alt="Category Image" src="<%= getCatImg(todo.category) %>" />
                </picture>
                <div class="card-content">
                    <p class="category category__01"><%= todo.category %></p>
                    <h2><%= todo.todo %></h2>
                    <p>
                       <%= todo.notes %>
                    </p>
                </div><!-- .card-content -->
                <footer>
                    <div class="post-meta">
                        <span class="timestamp"><i class="fa fa-clock-o"></i> Created: <%= moment(todo.created).format('MM/DD/YYYY');%></span>
                        
                        <span class="round">
                            <input name="todoid<%= todo.id %>" type="hidden" id="todoid<%= todo.id %>" value="<%= todo.id %>"  />
                            <input  onclick="chkit('<%= todo.id %>')" name="completed<%= todo.id %>" type="checkbox" id="completed<%= todo.id %>" value="<%= todo.completed %>" <% if(todo.completed === 1) { %> checked <% } else { %> <% } %>  />
                            
                            <label for="completed<%= todo.id %>"></label>

                            <!-- <input onclick="chkit('<%= todo.id %>')" type="checkbox" name="completed<%= todo.id %>" id="completed<%= todo.id %>" value="<%= todo.completed %>" <% if(todo.completed === 1) { %> checked <% } else { %> <% } %>  /> -->
                        </span>
                    </div>
                    
                </footer>
                </article>
            <% }); %>
            
        </section>
        
    </div>
</div>

<% include ../includes/footer.ejs %>
