<% include ../includes/header.ejs %>
<div class="breadcrumbs"><a class="back" href="/"><i class="fas fa-caret-square-left"></i> Back</a></div>
<div class="content">
    <div id="wrapper">
        <div id="sidebtnwrap">
            <button onclick="sidebarToggle()" type="button" id="sidebarbtn" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Menu</span>
            </button>
        </div>
        <!-- Sidebar -->
        <div id="sidebar">
            <div class="sidebar-header">
                <h3>Menu</h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="/get-todos">Home</a>
                </li>
                <li>
                    <a href="/add">Add</a>
                </li>
                <li>
                    <a href="/del">Delete</a>
                </li>
                <li>
                    <a class="current" href="/update">Edit</a>
                </li>
            </ul>
            <h3>Filter</h3>
            <ul class="list-unstyled components">
                <li>
                    <h6>Date</h6>
                    <ul class="submenu">
                        <li>
                            <a <% if(sort === 'ASC'){ %> class="current" <% } else { %> class="" <% } %>" href="/date/old">Oldest</a>
                        </li>
                        <li>
                            <a <% if(sort === 'DESC'){ %> class="current" <% } else { %> class="" <% } %>" href="/date/new">Newest</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h6>Priority</h6>
                    <ul class="submenu">
                        <li>
                            <a <% if(sort === 'low'){ %> class="current" <% } else { %> class="" <% } %>" href="/priority/low">Low</a>
                        </li>
                        <li>
                            <a <% if(sort === 'medium'){ %> class="current" <% } else { %> class="" <% } %>" href="/priority/medium">Medium</a>
                        </li>
                        <li>
                            <a <% if(sort === 'high'){ %> class="current" <% } else { %> class="" <% } %>" href="/priority/high">High</a>
                        </li>
                    </ul>
                </li><li>
                    <h6>Status</h6>
                    <ul class="submenu">
                        <li>
                            <a <% if(sort === "1"){ %> class="current" <% } else { %> class="" <% } %> href="/status/completed">Completed</a>
                        </li>
                        <li>
                            <a <% if(sort === '0'){ %> class="current" <% } else { %> class="" <% } %> href="/status/incomplete">Pending</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    
    <div id="middle">
        <h1>Edit</h1>
        <% if (typeof todos !== 'undefined' && todos.length > 0) { let test = ""; %>
            <form id="selectfrm" name="selectfrm" action="update-submit" method="get">
                <select class="selectpicker" data-style="btn-info" id="selectpicker" name="selectpicker" onchange="changeEdit()">
                    <optgroup label="Select To Do">
                        <option value="">Select To Do</option>
                        <% todos.forEach(function(todo, i) { %>
                        <option value="<%= todo.id %>"><%= todo.todo %></option>
                        <% }) %>
                    </optgroup>
                </select>
                
            </form>
            <div id="editfrm"></div>
            <form action="update-submit" method="post">
                <div class="form-group">
                    <input type="hidden" name="userid" id="userid" value="<%= userid %>">
                    <input type="hidden" name="todoid" id="todoid" value="<%= todos.id %>">
                    <label for="todo">To Do</label>
                    <textarea cols="50" rows="2" name="todo" id="todo" class="form-control" required autofocus><%= todos.todo %></textarea>        
                </div>
    
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea cols="50" rows="4" name="notes" id="notes" class="form-control" required><%= todos.notes %></textarea>        
                </div>
                
                <div class="form-group">
                    <label for="priority">Priority</label>
                    <div class="form-check">
                        <input class="form-check-input"  name="priority" type="radio" id="low" value="low" <% if(todos.priority === "low") { %> checked <% } else { %> <% } %>  />
                        <label class="form-check-label" for="priority1">
                            Low
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input"  name="priority" type="radio" id="medium" value="medium" <% if(todos.priority === "medium") { %> checked <% } else { %> <% } %>  />
                        <label class="form-check-label" for="priority2">
                            Medium
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <input class="form-check-input"  name="priority" type="radio" id="high" value="high" <% if(todos.priority === "high") { %> checked <% } else { %> <% } %>  />
                        <label class="form-check-label" for="priority3">
                            High
                        </label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="category">Category</label>
                    <div class="form-check">
                            <input class="form-check-input" name="category" type="radio" id="work" value="work" <% if(todos.category === "work") { %> checked <% } else { %> <% } %>  />
                            <label class="form-check-label" for="category1">
                                Work
                            </label>
                            </div>
                            <div class="form-check">
                            <input class="form-check-input" name="category" type="radio" id="home" value="home" <% if(todos.category === "home") { %> checked <% } else { %> <% } %>  />
                            <label class="form-check-label" for="category2">
                                Home
                            </label>
                            </div>
                            <div class="form-check disabled">
                            <input class="form-check-input" name="category" type="radio" id="hobby" value="hobby" <% if(todos.category === "hobby") { %> checked <% } else { %> <% } %>  />
                            <label class="form-check-label" for="category3">
                                Hobby
                            </label>
                            </div>
                            <div class="form-check disabled">
                            <input class="form-check-input" name="category" type="radio" id="leisure" value="leisure" <% if(todos.category === "leisure") { %> checked <% } else { %> <% } %>  />
                            <label class="form-check-label" for="category4">
                                Leisure
                            </label>
                            </div>
                            <div class="form-check disabled">
                            <input class="form-check-input" name="category" type="radio" id="misc" value="misc" <% if(todos.category === "misc") { %> checked <% } else { %> <% } %>  />
                            <label class="form-check-label" for="category5">
                                Misc
                            </label>
                            </div>
                </div>
                
                <input class="btn btn-lg btn-primary" style="font-family: FontAwesome"  type="submit" value="Change  &#xf1d8;"/>
            </form>
        <% } %>
    </div>
</div>
<% include ../includes/footer.ejs %>